*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: sans-serif;
}
img{
    display: block;
    max-width: 100%;
}
ul,
ol,
menu{
    list-style: none;
}
a{
    display: inline-block;
    color: currentColor;
    text-decoration: none;
}
/* 
    Layout
*/
.container,
.container-small{
    width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col{
    display: flex;
    flex-direction: column;
}
/* 
    Components
*/
/* Text transform */
.upcase{
    text-transform: uppercase;
}
/* Burger Show Menu */
.burger-line{
    gap: 4px;
    width: 20px;
    padding: 12px 0 8px;
    justify-content: center;
}
.line{
    height: 3px;
    max-width: 100%;
    background-color: #fff;
}
/* End Burger Show Menu */
/* Button */
.button{
    padding: 0 1rem;
    line-height: 2.5rem;
    border-radius: 1rem;
}
.button.white{
    color: #000;
    background-color: #fff;
}
.button.blue{
    color: #fff;
    background-color: #0084fd;
}
.button.lille{
    color: #000;
    background-color: #9792E4;
}
.cta-link.button.round{
    border-radius: 50%;
    padding: 0.8rem 1rem;
}
.cta-link.button.round.small{
    color: #fff;
    padding: 0 3rem;
    line-height: 2.4rem;
    border-radius: 1.3rem;
}
.cta-link.button.round.large{
    color: #9792E4;
    padding: 0 4.5rem;
    line-height: 4rem;
    border-radius: 3rem;
}
/* End Button */
/* CTA Button */
.cta-link{
    gap: 10px;
    display: flex;
    align-items: center;
}
.cta-link.button{
    padding: 0 3rem;
}
/* End CTA Button */
/* Card Jumbo */
.card{
    color: #0084fd;
    text-align: center;
    border-radius: 1.5rem;
    padding: 2.5rem 2rem 0;
    background-color: #B5DDFF;
}
.card.main-card{
    text-align: left;
}
.card > .row{
    gap: 1.65rem;
    padding-bottom: 2.3rem;
}
.card.main-card > .row{
    padding-bottom: 0;
}
.card.main-card .card-txt > *:not:last-child{
    flex-basis: 100%;
}
.card .card-txt{
    gap: 2.7rem;
    flex-wrap: wrap;
    flex-direction: row;
}
.card-desc{    
    line-height: 26px;
}
.card-txt .card-title{
    width: 100%;
    font-size: 1.5rem;
    letter-spacing: -1px;
}
.card .card-txt .card-desc{
    color: #000;
}
.main-card .card-img{
    object-fit: cover;
    object-position: bottom center;
}
.card-icon{
    width: 100%;
}
.card-icon i{
    font-size: 68px;
}
/* End Card Jumbo */
/* Card Testimonials */
.testimonials .card{
    color: #fff;
    border-radius: 3rem;
    padding: 2rem 1rem 1rem;
    background-color: #9792E4;
}
.testimonials .card > .row{
    gap: 1rem;
    justify-content: center;
}
.testimonials .card .card-figure{
    padding: 0 2rem;
    align-items: center;
}
.testimonials .card .card-img{
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-position: center;
}
.testimonials .card .card-quote{
    font-size: 1.25rem;
}
.testimonials .card .quote{
    line-height: 2rem;
}
.quote-author{
    font-weight: bold;
}
/* End Card Testimonials */
/* Card Benefits */
.benefits .card{
    color: #9792E4;
    border-radius: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #fff;
}
.benefits .card .card-counter{
    font-size: 3rem;
    font-weight: bold;
}
.benefits .card .card-txt{
    gap: 1.5rem;
    text-align: left;
    align-items: flex-start;
}
/* End Card Benefits */
/* 
    Header
*/
.main-header{
    padding: 1rem 1.75rem;
    background-color: #0084fd;
}
.main-header .nav-header{
    display: none;
}
.main-header .row{
    justify-content: space-between;
}
@media screen and (min-width: 810px){
    .container{
        margin: 0 auto;
        max-width: 1200px;
    }
    .burger-line{
        display: none;
    }
    .main-header .nav-header{
        display: flex;
        justify-content: center;
    }
    .nav-header .nav-list{
        gap: 1.75rem;
        color: #fff;
    }
    .nav-header .nav-list .list-item{
        justify-content: center;
    }
    .nav-header .list-item{
        font-size: 18px;
        letter-spacing: -0.5px;
    }
}
/* 
    Main

    Section > jumbo / hero
*/
.section.jumbo{
    padding-top: 3rem;
    padding-bottom: 5rem;
}
.section .container{
    padding: 0 2rem 0;
}
.jumbo .row{
    gap: 1.7rem;
}
@media screen and (min-width: 810px){
    .jumbo .row .card{
        flex-basis: calc((100% - 3.4rem) / 3);
    }
    .jumbo .row .main-card{
        flex-grow: 1;
        flex-basis: calc((200% - 1.7rem) / 3);
    }
    .main-card .card-img{
        max-width: 50%;
    }
}
@media screen and (min-width: 1200px){
    .main-card .card-txt,
    .main-card .card-figure{
        flex-basis: calc((100% - 2.7rem) / 2);
        flex-basis: calc((100% - 2.7rem) / 2);
    }
    .main-card .card-txt{
        gap: 2rem;
        padding-bottom: 4rem;
    }
    .main-card .card-figure{
        margin: -8px;
        justify-content: flex-end;
    }
    .main-card .card-img{
        max-width: 70%;
        align-self: center;
    }
}
/* 
    Section > Planning
*/
.section .container-small{
    padding: 0 2rem 0;
}
.section.planning{
    padding: 4rem 0;
    background-color: #9792E4;
}
.planning .container-small >.row{
    gap: 2rem;
}
.row.strategic-plan .card-img{
    padding-bottom: 5rem;
}
.row.strategic-plan .card-txt{
    gap: 3rem;
    color: #fff;
}
.row.strategic-plan .card-title{
    font-size: 8vw;
}
.planning .app-development{
    text-align: center;
    border-radius: 3rem;
    justify-content: center;
    background-color: #fff;
}
.planning .app-development .card-txt{
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem 2rem;
}
.app-development .card-txt .card-title{
    padding-bottom: 1.25rem;
}
.app-development .card-txt .card-desc{
    padding-bottom: 2rem;
}
@media screen and (min-width: 810px){
    .container-small{
        margin: 0 auto;
        max-width: 890px;
    }
}
@media screen and (min-width: 1200px){
    .planning .container-small > .row{
        gap: 3rem;
        flex-wrap: nowrap;
        align-items: flex-end;
    }
    .planning .container-small > .row > .col{
        flex-basis: calc(100% / 2);
    }
    .planning .strategic-plan,
    .planning .app-development{
        flex-direction: column;
    }
    .app-development .card-figure{
        align-items: center;
    }
    .row.strategic-plan .card-img{
        padding-bottom: 8.5rem;
    }
    .row.app-development .card-img{
        max-width: 80%;
    }
    .row.strategic-plan .card-title{
        font-size: 2rem;
    }
    .row.strategic-plan .card-txt{
        gap: 3.5rem;
    }
}
/* 
    Section > Testimonials
*/
.section.testimonials{
    padding: 4rem 0 7rem;
}
.testimonials .container > .row:first-of-type {
    padding-bottom: 3rem;
}
.testimonials .section-title{
    gap: 2.5rem;
    align-items: center;
    text-align: center;
}
.testimonials .section-title .title-small{
   font-size: 1.1rem;
}
.section-title .title{
    color: #9792E4;
}
.section-title .title{
    font-size: 2rem;
}
.testimonials .section-title .sub-title{
    line-height: 26px;
}
.testimonials .container > .row:last-child{
    gap: 2rem;
}
.testimonials .card .card-quote{
    gap: 2rem;
}
@media screen and (min-width: 810px){
    .testimonials .card > .row{
        flex-wrap: nowrap;
        padding-bottom: 1rem;
    }
    .testimonials .card .card-figure{
        padding: 0;
        width: 400px;
    }
    .testimonials .card .card-quote{
        text-align: left;
        padding: 0 2rem;
        align-items: flex-start;
        justify-content: center;
    }
}
/* 
    Section > Benefits
*/
.section.benefits{
    color: #fff;
    padding: 4.5rem 0 4rem;
    background-color: #9792E4;
}
.benefits .section-title{
    text-align: center;
}
.benefits .container > .row:first-of-type{
    justify-content: center;
    padding-bottom: 4rem;
}
.benefits .container > .row:last-of-type{
    gap: 2rem;
}
@media screen and (min-width: 810px){
    .benefits .container .row .card{
        flex-basis: calc((100% - 2rem) / 2);
    }
}
@media screen and (min-width: 1200px){
    .benefits .container .row .card{
        flex-basis: calc((100% - 4rem) / 3);
    }
}
/* 
    Section > About
*/
.section.about{
    padding: 4.5rem 0 5rem;
}
.about .container > .row{
    gap: 3.5rem;
}
.about .section-title{
    gap: 3.2rem;
}
.about .section-title .title{
    font-size: 2.5rem;
}
.about .desc{
    line-height: 26px;
}
.about .section-profile{
    gap: 1.7rem;
    align-items: flex-start;
}
.about .section-profile .desc{
    color: #9792E4;
    font-size: 1.6rem;
    font-weight: bold;
}
.section-profile .section-img{
    width: 200px;
    position: relative;
}
.section-profile .section-img .img{
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-position: center;
}
.section-profile .section-img .decoration{
    position: absolute;
    top: 0;
    right: 0;
    color: #9792E4;
}
.section-profile .section-img .decoration i{
    font-size: 4.2rem;
}
.section-profile .cta-link.button.round.small{
    padding-left: 1rem;
    padding-right: 1rem;
}
@media screen and (min-width: 810px){
    .about .container .row{
        justify-content: center;
    }
    .about .container .row > .col{
        flex-basis: calc((200% - 3.5rem) / 4);
    }
    .about .container .row .section-profile{
        flex-basis: calc((100% - 3.5rem) / 4);
    }
    .section-title .desc{
        font-size: 1.2rem;
        line-height: 30px;
    }
}
/* 
    Section > Get Started
*/
.section.get-started{
    color: #fff;
    padding: 4rem 2rem;
    background-color: #9792E4;
}
.container-thin{
    width: 100%;   
}
.get-started .section-title{
    text-align: center;
    align-items: center;
}
.get-started .section-title .title-small{
    padding-bottom: 1.5rem;
}
.get-started .section-title .title{
    color: currentColor;
    line-height: 3rem;
}
.get-started .section-title .title-large{
    font-size: 3.5rem;
    padding: 2.5rem 0;
    color: #FDC15F;
}
.get-started .section-title .sub-title{
    line-height: 26px;
    padding-bottom: 2rem;
}
.get-started .section-title .cta-link.button{
    margin-bottom: 2rem;
}
.get-started .section-title .section-credit{
    font-size: 0.8rem;
}
.section-title .section-credit .credit-link{
    text-decoration: 2px underline;
}
@media screen and (min-width: 810px){
    .container-thin{
        max-width: 480px;
        margin: 0 auto;
    }
}